* {
    box-sizing: border-box;
}

/* editor-grid */
.editor-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--clr2);
    margin-bottom: 20px;

    /* box-shadow: 0px 0px 23px 4px var(--clr5);
    border-radius: 6px; */

    
    /* opacity: 0; */
}

/* canvas-grid */
.canvas-container {
    margin-top: 5px;
    width: 300px;
    height: 300px;
}

canvas {
    display: block;
    margin: auto;
    justify-content: center;
    outline: 1px solid white;
    background-color: white;
}

.drag {
    background-color: white;
}

/* tools */
.tools-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'delete    txt   txt   add'
        'colorC     .               fontN     fontP'
        'emoji     emoji      emoji      emoji'
        'share     save      save   download';
    /* min-height: 100%; */

    text-align: center;
    font-weight: 400;
    font-size: 1.5em;

    align-self: start;
    background-color: var(--clr4);

    box-shadow: 0px 0px 23px 4px var(--clr5);
    border-radius: 6px;
}
.tools-container > :first-child {
    padding-top: 0.5rem;
  }

.tool-delete {
    /* background-color: pink; */
    grid-area: delete;
}

.txt-container {
    /* background-color: rgb(230, 92, 115); */
    grid-area: txt;
    
}

.tool-add {
    /* background-color: pink; */
    grid-area: add;
}

.tool-color {
    /* background-color: pink; */
    grid-area: colorC;
}

.tool-fontPlus {
    /* background-color: pink; */
    grid-area: fontP;
}

.tool-fontNi {
    /* background-color: pink; */
    grid-area: fontN;
}

.tool-emoji {
    /* background-color: pink; */
    grid-area: emoji;
}

.tool-share {
    /* background-color: pink; */
    grid-area: share;
}

.tool-download {
    /* background-color: pink; */
    grid-area: download;
}

.tool-save{
    grid-area: save;
} 

.btnAddTxt{
    background-color: rgb(172, 226, 208);
}
.btnDeleteLine{
    background-color: rgb(233, 122, 122);
}

.txt-user{
    width: 148px;
    height: 40px;
}
.tool-btn{
    height: 45px;
    width: 45px;
    font-size: 20px;

    align-items: center;
    justify-items: center;
    border-color: white;
}



/* emoji section */

@media (min-width: 950px) {
    .editor-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        /* background-color: rgb(187, 119, 131);
        margin-bottom: 100px; */
    }
    
    .canvas-container {
        width: 500px;
        height: 500px;
    }

    .tools-container {
        align-self: center;
        width: 300px;
        height: 300px;

    }
    .tool-btn{
        height: 55px;
        width: 55px;
        font-size: 30px;  
    }


}