.gallery-container {
    /* width: 100vw; */
    height: 500px;
    background-color: rgb(35, 89, 236);


}

img {
    max-width: 200px;
    width: 80%;
}

/* upload */
.inp {
    color: gray;
}

.file-input {
    flex-direction: column;
    align-items: center;
}