.gallery-container {
    /* width: 100vw; */
    min-height: 500px;
    background-color: var(--clr2);

    grid-template-columns: 3fr 1fr;
    grid-template-rows: 100px 1fr;
    background-color: var(--clr2);
    margin-bottom: 20px;

    grid-template-areas:
        'search       upload'
        'img         img';
}

.search-container {
    grid-area: search;
}

.upload-container {
    grid-area: upload;
    font-size: 50px;

}

.file-input {
    width: 90px;
    font-size: large;
    padding-top: 10px;
    padding-bottom: -15px;

    border-color: white;
}


.img-container {

    grid-area: img;
    width: 80vw;
    margin: 0 auto 25px;
    flex-wrap: wrap;
    gap: 0.3rem;

}

img {
    max-width: 130px;
    /* width: 80%; */
    border-radius: 6px;
    cursor: grab;
}

.search-Input{
    width: 300x;
    height: 40px;
}

/* upload */
.inp {
    color: gray;
}

.file-input {
    flex-direction: column;
    align-items: center;
}

@media (min-width: 780px) {
    img {
        max-width: 200px; 
    }
    .search-Input{
        width: 400px;
        height: 40px;
    }

}