<<<<<<< HEAD


.gallery-container{
    width: 95vw;
    height: 500px;
    background-color: palevioletred;
}


=======


.gallery-container{
    width: 95vw;
    height: 500px;
    background-color: palevioletred;
}


>>>>>>> 05d08108e7884b884864f10e2f3bc696480dc500
