:root {
    /* header color */
    --clr0: #e4cccc;
    /* brand color */
    --clr1: #000000;
    /* p color */
    --clr2: #e4cccc;
    /* background */
    --clr3: #f2f0f8a1;
    /* tools */
    --clr4: #f0e2e2;

    /* shadow */
    --clr5:#00000038;
   

    /* bp */
    --s: 600px;
    --m: 740px;
    --l: 980px;
}

@font-face {
    font-family: fa;
    src: url("/fonts/font-awesome/fa-brands-400.ttf");
}

.flex {
    display: flex;
}

.grid {
    display: grid;
        
    place-content: center;
    align-items: center;
    justify-items: center;
    
}

/* when editor/gallery open */
.close{
    display:none; 
}
.open{
    display:block; 
}

button, .btn{
    cursor:grab;
}
