@font-face {
    font-family: fa;
    src: url("/fonts/font-awesome/fa-brands-400.ttf");
}

.flex {
    display: flex;
}

.grid {
    display: grid;
        
    place-content: center;
    align-items: center;
    justify-items: center;
    
}

/* when editor/gallery open */
.close{
    opacity: 0; 
}