* {
    box-sizing: border-box;
}

body {
    background-color: var(--clr3);
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column
}

.example, .about{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.example{
    font-size: 50px;
    align-self: center;

    
}
.about{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.about span{
    font-size:x-large;
}
.about img{
    border-radius: 50%;
}


.main-header {
    height: 90px;
    box-shadow: inset 0 -6px 0 #00000038;
    background-color: var(--clr0);

    /* double setting, not good */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vh;
}

.header-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header-nav a {
    margin-right: 5vw;
    text-decoration: none;
    color: #6d6464;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}



.main-header h1 {
    margin-left: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


footer{
    height: 30px;
    box-shadow: inset 0 3px 0 #00000038;
    background-color: var(--clr0);

    text-align: center;
    color: #6d6464;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 5vh;
    
}


@media (min-width: 780px) {
    .header-nav a {
        margin-right: 10vw;
        font-size: 25px;

    }

    .main-header h1 {
        margin-left: 70px;
        font-size: 60px;
    }

    .main-header {
        height: 130px;
    }


}